<?xml version="1.0"?>
<config>
    <modules>
        <Omnivalt_Shipping>
            <version>1.0.6</version>
        </Omnivalt_Shipping>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>                           
                <parcel_terminal><to_order>*</to_order></parcel_terminal>
            </sales_convert_quote>

            <sales_convert_order>                                              
                <parcel_terminal><to_quote>*</to_quote></parcel_terminal>
            </sales_convert_order>
        </fieldsets>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <parcel_terminal_observer>
                        <type>singleton</type>
                        <class>omnivalt_shipping/observer</class>
                        <method>saveParcelTerminal</method>
                    </parcel_terminal_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <Omnivalt_Shipping_Model_Observer>
                        <type>singleton</type>
                        <class>omnivalt_shipping/observer</class>
                        <method>addMassAction</method>
                    </Omnivalt_Shipping_Model_Observer>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <models>
            <omnivalt_shipping>
                <class>Omnivalt_Shipping_Model</class>
                <resourceModel>omnivalt_shipping_resource</resourceModel>
            </omnivalt_shipping>
        </models>
        <resources>
            <omnivalt_shipping_setup>
                <setup>
                    <module>Omnivalt_Shipping</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </omnivalt_shipping_setup>
            <omnivalt_shipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </omnivalt_shipping_write>
            <omnivalt_shipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </omnivalt_shipping_read>
        </resources>
        <helpers>
            <omnivalt_shipping>
                <class>Omnivalt_Shipping_Helper</class>
            </omnivalt_shipping>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <omnivalt_shipping_terminalfield>
                    <file>omnivalt_shipping/terminalfield.xml</file>
                </omnivalt_shipping_terminalfield>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Omnivalt_Shipping.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <omnivaltshipping>
                    <file>omnivaltshipping.xml</file>
                </omnivaltshipping>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Omnivalt_Shipping.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <events>
          <adminhtml_widget_container_html_before>
            <observers>
              <unique-identifier>
                <type>singleton</type>
                <class>Omnivalt_Shipping_Model_Observer</class>
                <method>callOmnivaButton</method>
              </unique-identifier>
            </observers>
          </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <Omnivalt_Shipping>
                <use>admin</use>
                <args>
                    <module>Omnivalt_Shipping</module>
                    <frontName>omnivalt_shipping</frontName>
                </args>
            </Omnivalt_Shipping>
            <adminhtml>
                <args>
                    <modules>
                        <omnivalt_shipping before="Mage_Adminhtml">Omnivalt_Shipping_Adminhtml</omnivalt_shipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <carriers>
            <omnivalt>
                <user backend_model="adminhtml/system_config_backend_encrypted"/>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
                <gateway_url>https://edixml.post.ee</gateway_url>
                <active>0</active>
                <sallowspecific>1</sallowspecific>
                <allowed_methods>PARCEL_TERMINAL,COURIER</allowed_methods>    
                <pickup>COURIER</pickup>
                <handling>0</handling>
                <model>Omnivalt_Shipping_Model_Carrier</model>
                <title>Omnivalt</title>
                <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
                <unit_of_measure>KG</unit_of_measure>
                <max_package_weight>150</max_package_weight>
                <price>3</price>
                <price2>3</price2>
                <pick_up_time_start>8:00</pick_up_time_start>
                <pick_up_time_finish>17:00</pick_up_time_finish>
                <location_update></location_update>
                <sort_order>1</sort_order>
            </omnivalt>
        </carriers>
    </default>
</config>